:root {
  --main-color: hsl(215,50%,23%);
  --sec-color: hsl(182,43%,76%);
  --accent-color: hsl(203,39%,44%);
  --extra-color: hsl(355,78%,56%);
  --light-color: hsl(105,54%,96%);
  --gray-500: gray;
}

html, body, * {
  box-sizing: border-box;
}
